{% extends 'tv_charts/base.html' %}

{% block head %}
<title>TvCharts - about</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mt-4 mb-4">
            <div class="card-header">
                <h2>About this project</h2>
            </div>
            <div class="card-body">
                <p>
                    On this site you can see how much your favourite TV show dropped in quality over time. <hr>
                I've scraped data (from <a href="https://imdb.com/">IMDB</a>) for over 1000 most popular shows (nearly 100k episodes) and presented it in form of graphs.<br>
                    In order to do so I created very simple API (you can check it out <a href="{% url 'tv_charts:api-info' %}">here</a>)<hr>
                    On <a href="https://github.com/Zyvik/TvCharts">my github</a> you can find both scraper that I've written and this project itself.
                </p>
            </div>
        </div>
    </div>
{% endblock %}