{% extends 'tv_charts/base.html' %}
{% load static %}
{% load pagination_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'tv_charts/list.css' %}">
    <title>TvCharts - list</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mt-4">

            <!-- HEADER -->
            <div class="card-header">
                 <h2>Tv show list</h2>
            </div>

            <!-- FILTER FORM HEADER -->
            <div class="card-header" id="filter_header">
                <div class="row">
                    <div class="col">
                        <h3><img src="{% static 'tv_charts/tool.png' %}" alt="" height="28"> Filter</h3>
                    </div>
                    <div class="col text-right">
                        <img src="{% static 'tv_charts/arrow_down.png' %}" alt="arrow down" height="30" id="arrow_down" style="display: inline">
                        <img src="{% static 'tv_charts/arrow_up.png' %}" alt="arrow up" height="30" id="arrow_up" style="display: none">
                    </div>
                </div>
            </div>

            <!-- FILTER FORM-->
            <div class="card-body" id="filter_container" style="display:none;">
                <form method="get">
                    {{ form.as_p }}
                    <button class="btn btn-block btn-dark btn-lg" type="submit">Filter</button>
                </form>
                <hr>
            </div>

            <!-- TV SHOW LIST -->
            <div class="card-body">
                 <ul class="list-group list-group-flush">
                    {% for series in object_list %}
                    <li class="list-group-item">
                    <a href="{% url 'tv_charts:detail' series.pk %}">
                         <img src="{{ series.poster_url }}" height="150" alt="poster"> {{series.title}} {% if series.original_title %} ({{ series.original_title }}) {% endif %}
                    </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- PAGINATION -->
            <div class="card-footer">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?{% pagination_with_vars page=1 %}">&laquo; first</a>
                            <a href="?{% pagination_with_vars page=page_obj.previous_page_number %}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?{% pagination_with_vars page=page_obj.next_page_number %}">next</a>
                            <a href="?{% pagination_with_vars page=page_obj.paginator.num_pages %}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'tv_charts/list.js' %}"></script>
{% endblock %}